@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Merriweather:ital,wght@1,300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300i);
.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }


  *{
    font-family: "Lato", Helvetica, sans-serif;
  }
html {
  font-size: 62.5%; }

body {
  padding: 1rem;
  background-color: #eee; }

.section-team {
  padding-bottom: 2rem; }

.wrapper {
  margin: 0 auto;
  max-width: 100rem; }

.heading {
  text-align: center;
  padding: 1rem; }
  .heading__title {
    font-size: 4rem;
    background-image: #366c75;
    background-image: linear-gradient(to right, #7fd386, #3eb5a9);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    font-family: "Lato", Helvetica, sans-serif;
    text-transform: uppercase; }
  .heading__line {
    border: none;
    max-width: 50rem;
    border-radius: 1rem;
    background-color: #366c75;
    height: 0.6rem;
    margin-top: -2rem; }

.team__cards {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.card {
  background-color: white;
  margin: 2rem 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  max-width: 40rem;
  border-top: 0.5rem solid #366c75;
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card__img {
    width: 50%;
    border-radius: 50%;
    margin-top: 3.5rem; }
  .card__name {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 3.1rem;
    margin: 1rem 0 0.5rem;
    color: #366c75; }
  .card__title {
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
    font-size: 2.4rem;
    padding: 0 1rem;
    font-weight: 700; }
  .card__bio {
    padding: 1rem 3rem;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 2.4rem;
    text-align: center;
    min-height: 20rem; }
  .card__contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    outline: 0.1rem solid grey;
    text-align: center; }
    .card__contact a {
      transition: 0.3s all; }
    .card__contact a:hover {
      background-color: grey; }
    .card__contact-icon {
      width: 30%;
      padding: 2rem; }
  .card:hover {
    transform: translateY(-2rem) scale(1.02); }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 30px;
      left: 30px;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }